html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav {
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: bolder;
}

ul, li {
  color: black;
  list-style-type: lower-greek;
  font-weight: normal;
}

figcaption {
  font-size: 1.125rem;
  text-align: center;
}

b {
  font-weight: bolder;
}

.date {
  font-weight: bolder;
}

.circle {
  list-style-type: circle;
}

dt, dd {
  line-height: 1.5;
  text-align: justify;
}

h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
}

.link {
  color: #8f2440;
}

footer {
  font-family: 'PT Sans', sans-serif;
}

.quote {
  font-weight: bold;
  font-size: 1.5rem;
}
